<div class="sidenav">
  <div class="main-sidenav">
    <div class="grid-container">
      <img src="../assets/3A43C519-3867-4330-AAF5-FDFE679FBA3F.jpeg" alt="Picture of the author, Hallie Kirk" id="circle">
      <h1 id="blogtitle">Hallie's Blog</h1>
    </div>
    <div class="search-container">
      <form>
        <input #searchbar type="search" placeholder="Search" name="search" (change)="Search(searchbar.value)" autocomplete="off">
        <button type="submit" (click)="Search(searchbar.value)">Search</button>
      </form>
    </div>
    <div>
      <h3>About Hallie</h3>
      <p>
        Hallie is a 19 year old American currently spending her first year out of high school in Europe au pairing for an amazing German family.
        Hallie's hobbies include visiting and experiencing the beauty of nature and architecture, diving into different cultures, and 
        watching Gilmore Girls for the umpteenth time. This blog is her story and her experience exploring and having the best time 
        of her life in Europe.
      </p>
    </div>
    <div class="log-button">
      <input type="button" class="btn btnPrimary" value="Log In" (click)="this.ToLoginPage()" class="login">
      <input type="button" class="btn btnPrimary" value="Log Out" (click)="authService.SignOut()" class="logout">
      <p>Copyright © Pedro Manon</p>
    </div>
  </div>
</div>
<div class="main">
  <router-outlet></router-outlet>
</div>